.container {
  position: relative;
}

.phase {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: center;
  left: 0;
  line-height: 60px;
  position: absolute;
  right: 0;
  text-align: center;
}

.phaseVisual {
  height: 100px;
  opacity: 0.7;
  width: 100px;
}

.phaseInstruction {
  color: #f5f5f5;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.circle {
  width: 280px;
  height: 280px;
  position: relative;
}

.progress {
  bottom: 0;
  fill: none;
  left: 0;
  position: absolute;
  right: 0;
  stroke-width: 4;
  top: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: 0.25s stroke;
  z-index: 10;
}

.background {
  bottom: 0;
  fill: none;
  left: 0;
  position: absolute;
  right: 0;
  stroke-width: 4;
  top: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: 0.05s stroke-dashoffset;
  z-index: 5;
}
